/*------------
    Fonts
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/*------------
    Classes
--------------*/


/* Orange Button */
.btn-orange {
    color: #fff ;
    background-color: #E76F51;
    border-color: #E76F51;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Orange Text */
.text-orange{
    color: #E76F51;
}

.mt-6{
    margin-top: 4rem !important;
}

.mb-6{
    margin-bottom: 4rem !important;
}

.mt-10{
    margin-top: 6rem !important;
}

/* Card Padding */
.card-p {
    padding: 40px 35px !important;
  }

/* Image Grey */
.img-grey{
    filter: grayscale(100%);
}

/* FAQ */
.font-inter{
    font-family: 'Inter', sans-serif;
}

.faq-item {
    font-weight: 500 !important;
  }

  .faq-body{
      color: #7E848C;
  }